body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  color: #40514E;
}

p {
  line-height: 2;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Helvetica', sans-serif;
  font-size: 4.5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #ffd9d1;
  position: relative;
  padding-top: 100px;
  height: 100%;
}

.middle-container {
  margin: 0;
}

.bottom-container {
  background-color: #ffd9d1;
  padding: 50px 0 20px;
}


.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.skills{
  background-color: #ffd9d1;
  width: 40%;
  margin: auto auto auto auto;
  text-align: center;
}

.table1{
  border-spacing: 1cm 1em;
}

.web_image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.analysis_image{
  width: 25%;
  float: right;
  margin-left: 30px;
}


hr{
  border: dotted gray;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.contact_message{
  width: 40%;
  margin: 40px auto 60px;

}


.contact_me_btn {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3f97f5 5%, #1e62d0 100%);
	background-color:#3f97f5;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.contact_me_btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3f97f5 100%);
	background-color:#1e62d0;
}
.contact_me_btn:active {
	position:relative;
	top:1px;
}

.intro{
  width: 60%;
  margin: auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #1e62d0;
}

.copyright{
  color: gray;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile_pic{
  width: 600px;
  height: auto;
}
